@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@layer base {
  html,
  body {
    @apply font-sans;
  }

  body {
    @apply bg-gray-200;
  }

  h1 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl;
  }
}
